In [ ]:
! pip install pandas
! pip install matplotlib
! pip install ipython-sql psycopg2
! pip install sqlalchemy

In [ ]:
%load_ext sql

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

**Connect to PostgreSQL Database**

In [23]:
%sql postgresql://postgres:postgres@localhost/carData

engine = create_engine('postgresql://postgres:postgres@localhost/carData')

**Read CSV file**

In [ ]:
%%sql

SELECT * FROM car_data LIMIT 2

In [25]:
df = pd.read_sql('SELECT * FROM car_data', engine)

**Check count of nulls in every column**

In [ ]:
df.isna().sum()

**Modify the created and modified column datatype from Object to datetime**

In [ ]:
df['created'] = pd.to_datetime(df['created'])
df['modified'] = pd.to_datetime(df['modified'])
df.info()

**Display the Maximum MSRP of the cars which have Horsepower more than 7000 for all the years using pandas plot bar**

In [28]:
plt.style.use('ggplot')

In [ ]:
df[df['engine_horsepower_rpm'] > 7000] \
      .groupby('make_name')['msrp'] \
      .max() \
      .sort_values(ascending = True) \
      .plot(kind='bar', figsize=(10, 6), color='skyblue').set_title('Maximum MSRP for Cars with HP Greater than 7000')

**Display the count of the cars which have Horsepower more than 4000 for all the years using pandas plot bar**

In [ ]:
df[df['engine_horsepower_rpm'] < 4000] \
      .groupby('make_name')['make_id']\
      .count() \
      .sort_values(ascending = True) \
      .plot(kind='bar', figsize=(5, 5), color='yellowgreen').set_title('Count of cars with HP less tha 4000')

**Create a new Dataframe with average msrp of all the makes for the year 2024 and Display Bar chart using Matplotlib**

In [31]:
msrp_avg_2024 = df[df['year'] == 2024].groupby('make_name')['msrp'].mean().sort_values(ascending=True).reset_index()

In [ ]:
plt.figure(figsize=(12,10))
plt.bar(msrp_avg_2024['make_name'], msrp_avg_2024['msrp'], color='salmon')
plt.xlabel('Average MSRP')
plt.ylabel('Make Name')
plt.title('Average MSRP by Make Name')
plt.xticks(rotation=90)
plt.show()

**Display a pie chart to show the number of door types for all the cars**

In [ ]:
plt.pie(df['body_doors'].value_counts(), labels = df['body_doors'].unique(), autopct = '%1.1f%%', explode=[0.0, 0.0, 0.0, 0.2])
plt.title('Body Doors')
plt.show()

**Calculate Summanry Statistics of the Data**

In [ ]:
df.groupby('make_name')['msrp'].agg(
    avg_msrp='mean',
    median_msrp='median',
    stddev_msrp='std',
    min_msrp='min',
    max_msrp='max'
).sort_values(by='avg_msrp', ascending=False)

In [ ]:
df.columns

**Display Histogram of Combined MPG**

In [ ]:
plt.hist(df['mileage_combined_mpg'], bins=20, edgecolor='black', color='darkgreen')
plt.xlabel('Mileage')
plt.ylabel('Frequency')
plt.title('Mileage Distribution')
plt.show()

**Calcluate Depreciation by differentiating the MSRP with invoice for different years adn display line chart as subplots for year 2023 & 2024**

***Depreciation meaning : a decrease in the value of a asset over time***

In [ ]:
df2 = df[((df['invoice'] != 0) & (df['msrp'] != 0))]
df2['depreciation'] =   df2['msrp'] - df2['invoice']
depreciation_df_1 = df2[df2['year'] == 2023].groupby('make_name')['depreciation'].mean().sort_values(ascending=True)
depreciation_df_2 = df2[df2['year'] == 2024].groupby('make_name')['depreciation'].mean().sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(1, 2, 1)
plt.plot(depreciation_df_1.index, depreciation_df_1.values, color='purple', marker='.', linewidth=2)
plt.xlabel('Make Name')
plt.ylabel('Average Depreciation')
plt.title('Average Depreciation for year 2023')
plt.xticks(rotation=90)

plt.subplot(1, 2, 2)
plt.plot(depreciation_df_2.index, depreciation_df_2.values, color='green', marker='.', linewidth=2)
plt.xlabel('Make Name')
plt.title('Average Depreciation for year 2024')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

**Calculate total invoice for year 2023 & 2024 and display using bar chart**

In [39]:
total_invoice_2023 = df2[df2['year'] == 2023].groupby('make_name')['invoice'].sum().sort_values(ascending=True).reset_index()
total_invoice_2024 = df2[df2['year'] == 2024].groupby('make_name')['invoice'].sum().sort_values(ascending=True).reset_index()

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(1, 2, 1)
plt.bar(total_invoice_2023['make_name'], total_invoice_2023['invoice'], color='dimgrey')
plt.xlabel('Make Name')
plt.ylabel('Total Invoice')
plt.title('Total Invoice for 2023')
plt.xticks(rotation=90)

plt.subplot(1, 2, 2)
plt.bar(total_invoice_2024['make_name'], total_invoice_2024['invoice'], color='r')
plt.xlabel('Make Name')
plt.title('Total Invoice for 2024')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

**Displat total cars per month from the dataset**

In [41]:
df['MonthYear'] = df['created'].dt.strftime('%Y-%m')

In [ ]:
total_cars_per_month = df.groupby('MonthYear')['msrp'].count().sort_values(ascending=True)
plt.bar(total_cars_per_month.index, total_cars_per_month.values, color='orange')
plt.xlabel('Month')
plt.ylabel('Total Cars')
plt.title('Total Cars per Month')
plt.xticks(rotation=45)
plt.show()

In [ ]:
df.groupby(['year', 'MonthYear']).size().plot(figsize=(10,5))

### SQL Queries

*Retrieve all records where msrp is greater than 50,000*

In [ ]:
%%sql
select * from car_data where msrp > 50000

*Get all records for the year 2024 where the make_name is "Rolls-Royce"*

In [ ]:
%%sql
select * from car_data where year = 2023 and make_name = 'Rolls-Royce'

*Calculate the average msrp for each make_name*

In [ ]:
%%sql
select make_name,year, avg(msrp) as average_msrp 
from car_data group by(make_name,year) order by avg(msrp)

*Find the total invoice amount grouped by year*

In [ ]:
%%sql
select make_name, sum(invoice) as total_invoice
from car_data group by(make_name)

*Add a rank to each car within its make_name group based on msrp in descending order*

In [ ]:
%%sql
select make_name,msrp,year,
rank() over(order by msrp desc) msrp_rank
from car_data
group by(make_name, msrp, year)

*display the highest msrp totals in desc in a year*

In [ ]:
%%sql
select make_name,count(1) as cars_sold, sum(msrp) as msrp_sum,year,
rank() over(partition by year order by sum(msrp) desc) msrp_sum_rank
from car_data
group by(make_name, year)
order by year desc,sum(msrp) desc